#!/bin/bash

LICENSE_KEY={{ newrelic_license_key }} PREFIX=/etc/newrelic-npi DEFAULTUSER=root UNATTENDED=true bash -c "$(curl -sSL https://download.newrelic.com/npi/release/install-npi-linux-debian-x64.sh)"
